* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

:root {
  /*==== tema ====*/
  --color-1: #591426;
  --color-2: #8C1843;
  --color-3: #858C51;
  --color-4: #F28907;
  --color-5: #0D0D0D;

  /*==== base ====*/
  --color-6: rgba(0, 0, 0, 0.10);
  --color-7: #ffffff;
} 

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100vw;
  background-color: var( --color-1);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.header-links {
  display: flex;
  gap: 2rem;
}

.header-links a {
  color: var( --color-7);
  font-size: 2rem;
}

.header-logo-img {
  height: 7rem;
}

.logo h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var( --color-7);
}

main {
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100vw;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.card {
  display: flex;
  width: 35rem;
  height: 10rem;

  background-color: var( --color-6);
  border-radius: 10px;
}

.card-img {
  border-radius: 10px 0 0 10px;
  width: 35%;
  max-width: 15rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid: 1rem;

  width: 65%;
  height: 100%;
}

.card-info h2 {
  font-size: 2.5rem;
  color: var( --color-1);
}

.card-info p {
  font-size: 1rem;
  color: var( --color-1);
  text-align: center;
  width: 80%;
}

footer {
  width: 100vw;
  padding: 2rem 0;
  background-color: var( --color-1);

  display: flex;
  align-items: center;
  justify-content: center;
}

footer a img {
  display: flexbox;
  width: 12.5rem;
}

footer a {
  color: var( --color-7);
}

.footer-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.footer-info-loc {
  display: grid;
  gap: 2rem;
}

footer .footer-logo-img {
  width: 12.5rem;
}

.footer-info-line {
  font-size: 2rem;
  color: var( --color-7);
  display: flex;
  gap: 0.5rem;
}

.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 920px) {
  nav {
    width: calc(80% - 2rem);
  }

  .cards {
    width: 80vw;
  }
  
  .card {
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 920px) {
  nav {
    justify-content: center;
  }

  .header-links {
    display: none;
  }

  .footer-info {
    display: grid;
    width: 17rem;
    text-align: center;
  }

}

@media (max-width: 450px) {
  header {
    height: auto;
  }

  nav {
    flex-direction: column;
  }

  .header-links {
    margin: 1rem 0;
    display: none;
  }

  .card {
    width: 100%;
    min-width: auto;
  }

  .card-img {
    width: 50%;
  }

  .card-info {
    width: 50%;
    justify-content: center;
  }

  .card-info h2 {
    font-size: 2rem;
    text-align: center;
  }

  footer {
    height: auto;
    padding: 2rem 0 6rem 0;
  }

  .footer-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    gap: 4rem;
  }

  .footer-info {
    flex-direction: column;
    text-align: center;
    width: auto;
  }

  footer .footer-logo-img {
    width: 10rem;
  }
}

/* @media (max-width: 299px) {
  .card {
    flex-direction: column;
    height: auto;
    padding-bottom: 1rem;
  }
} */