* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;

  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.header-links {
  display: flex;
  gap: 2rem;
}

.header-links a {
  color: white;
  font-size: 2rem;
}

.header-logo-img {
  height: 5rem;
}

.logo h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

main {
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.cards {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  width: 100%;
  max-width: 40rem;
  height: 10rem;

  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.card-img {
  border-radius: 10px 0 0 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid: 1rem;

  width: 100%;
  height: 100%;
}

.card-info h2 {
  font-size: 2.5rem;
  color: black;
}

.card-info p {
  font-size: 1rem;
  color: black;
  text-align: center;
  width: 80%;
}

footer {
  height: 25vh;
  width: 100vw;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
  display: inline-block;
}

.footer-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info {
  display: grid;
  gap: 1rem;
}

a .footer-logo-img {
  width: 20rem;
}

.info-horario,
.info-endereco {
  font-size: 2rem;
  color: white;
  display: flex;
  gap: 0.5rem;
}

.footer-icon {
  width: 1.5rem;
}

.footer-logo-img {
  width: 10rem;
}

@media (min-width: 900px) {
  nav {
    width: calc(80% - 2rem);
  }
  
  .card {
    max-width: calc(50% - 2rem);
  }
}

@media (max-width: 450px) {
  header {
    height: auto;
  }

  nav {
    flex-direction: column;
  }

  .header-logo-img {
    margin: 1rem;
  }

  .header-links {
    margin: 1rem 0;
    display: none;
  }

  .card {
    flex-direction: column;
    height: 30rem;
  }

  .card-img {
    border-radius: 10px 10px 0 0;
  }

  footer {
    height: 30rem;
    padding: 2rem;
  }

  .footer-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
}